.floatingContactMainContent {
    margin-top: 70px;
    background-color: #f8f9fa;
    border-radius: 10px;
}

.floatingContactCard {
    border-radius: 10px;
    max-width: 600px;
    animation: fadeInFromLeft 300ms ease 0s 1 normal forwards;
}

.floatingContactHeader {
    display: flex;
    align-items: center;
    gap: 54px;
    margin-bottom: 24px;
}

.floatingContactName .floatingContactAvatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 47px;
    font-weight: 700;
}

.floatingContactAvatar {
    background: #FF7A00;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 3px solid #ffffff; 
    font-size: 47px;
    font-weight: 500;
    border-radius: 70px;
    width: 120px;
    height: 120px;
}

.floatingContactName span {
    font-size: 47px;
    font-weight: 500;
    color: #000000;
    display: block;
    gap: 5px;
}

.floatingContactName  {
gap: 8px;
}

.floatingContactActions {
    display: flex;
    gap: 20px;
    width: 150px;
    margin-top: 10px;
}

.editBtn,
.deleteBtn {
    display: flex;
    align-items: center;
    gap: 13px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.editBtn img,
.deleteBtn img {
    width: 24px;
    height: 24px;
}

.floatingContactInfo {
    gap: 59px;
    margin-top: 59px;
}

.floatingContactInfoLabel {
    font-size: 20px;
    font-weight: 400;
    gap: 22px;
    margin-bottom: 59px;
}

.floatingContactInfo>div {
    margin-bottom: 16px;
}

.floatingContactInfoDetails {
    display: flex;
    flex-direction: column;
}

.floatingContactInfoDetails a {
    font-size: 16px;
    text-decoration: none;
    color: #007CEE;
}

.floatingContactInfoDetails span {
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
}

.floatingContactInfoDetails p {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-top: 8px;
}

@keyframes overlayMoveFromRight {

	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.editContactOverlay {
    animation: overlayMoveFromRight 0.2s ease-in-out;
}

@keyframes editContactOverlayClose {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(250px);
    }
}

@keyframes fadeInFromLeft {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}


.editContactOverlay.closing {
    animation: editContactOverlayClose 0.2s ease-in-out forwards;
}