.floatingContactMainContent {
    flex: 1;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 24px;
    margin-top: 50px;
}

.floatingContactCard {
    border-radius: 10px;
    padding: 24px;
    max-width: 600px;
}

.floatingContactHeader {
    display: flex;
    align-items: center;
    gap: 54px;
    margin-bottom: 24px;
}

.floatingContactName .floatingContactAvatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 47px;
    font-weight: 700;
}

.floatingContactAvatar {
    background: #FF7A00;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 47px;
    font-weight: 700;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.floatingContactName span {
    font-size: 47px;
    font-weight: 500;
    color: #000000;
    display: block;
    gap: 5px;
}

.floatingContactActions {
    display: flex;
    gap: 20px;
    width: 150px;
    margin-top: 10px;
}

.editBtn,
.deleteBtn {
    display: flex;
    align-items: center;
    gap: 16px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.editBtn img,
.deleteBtn img {
    width: 24px;
    height: 24px;
}

.floatingContactInfo {
    gap: 59px;
    margin-top: 50px;
}

.floatingContactInfoLabel {
    font-size: 20px;
    font-weight: 400;
    gap: 22px;
    margin-bottom: 50px;
}

.floatingContactInfo>div {
    margin-bottom: 16px;
}

.floatingContactInfoDetails {
    display: flex;
    flex-direction: column;
}

.floatingContactInfoDetails a {
    font-size: 16px;
    text-decoration: none;
}

.floatingContactInfoDetails span {
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
}

.floatingContactInfoDetails p {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-top: 8px;
}