* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;
    background-color: #e5e5e5;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.mainContent {
    flex: 1;
    padding: 40px;
    overflow-y: auto;
}
.legalNoticeContent {
  padding: 48px 40px 40px 40px;
}
