* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(229, 229, 229); 
}


.logoPageHeader {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 30px;
}

.SignUpbtnPosition {
    margin-left: auto; 
}

.hide {
    opacity: 0;
    filter: blur(8px); 
    transform: translateY(20px); 
    pointer-events: none;
}

.content-appear {
    animation: contentFadeIn 500ms ease-out forwards;
}

@keyframes contentFadeIn {
    from {
        opacity: 0;
        filter: blur(8px);
        transform: translateY(20px); 
    }
    to {
        opacity: 1;
        filter: blur(0px);
        transform: translateY(0px);
    }
}
    
#loadingScreen {
    position: absolute;
    left: 50%;
    top: 50%; 
    inset: 0;
    z-index: 9999;
    animation: logo-fly 1600ms ease-in-out forwards;
    margin-top: 80px;
    margin-left: 77px;
}

#loadingScreen.hidden {
    display: none;
}

@keyframes logo-fly {
    0% {
        width: 274px;
        height: 334.07px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    100% {
        width: 100.03px;
        height: 121.97px;
        transform: translate(0, 0);
        opacity: 1;
    }
}