.subtasksContainer {
  max-height: 200px;
  overflow-y: auto;
}

.subtaskItem {
  display: flex;
  align-items: center;
  padding: 4px 0;
  border-bottom: 1px solid #eee;
}

.subtaskItem:last-child {
  border-bottom: none;
}

.subtaskContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.subtaskBullet {
  margin-right: 8px;
  color: #666;
}

.subtaskText {
  flex: 1;
  padding: 4px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  transition: all 0.2s ease;
  min-width: 200px;
}

.subtaskActions {
  display: none;
  align-items: center;
  gap: 4px;
}

.subtaskText[contenteditable="true"] .subtaskActions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 2px 6px;
  border-radius: 2px;
}

.checkBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px 6px;
}

.checkBtn img {
  filter: invert(1);
  border: none;
}

.noSubtasks {
  text-align: center;
  color: #666;
  font-style: italic;
  padding: 16px;
}

.subTaskDevider {
  width: 1px;
  height: 24px;
  background: #a8a8a8;
}

.subtaskText:hover {
  border-color: #bbb;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.subtaskText[contenteditable="true"] {
  border-bottom: 1px solid #29abe2;
  cursor: text;
}

.subtaskText[contenteditable="false"] {
  border-color: #e0e0e0;
  cursor: pointer;
}

.subtaskText:empty::before {
  content: "Subtask bearbeiten...";
  color: #999;
  font-style: italic;
}

.subtaskText[contenteditable="true"]:empty::before {
  content: "Text eingeben...";
}

.hidden {
  display: none !important;
}
