/**
 * Floating Contact Card Styles
 * Handles styling for floating contact detail cards
 */

.floatingContactMainContent {
  margin-top: 70px;
  background-color: #f8f9fa;
}

.floatingContactCard {
  border-radius: 10px;
  max-width: 350px;
  animation: fadeInFromLeft 300ms ease 0s 1 normal forwards;
}

.floatingContactHeader {
  display: flex;
  align-items: center;
  gap: 54px;
  margin-bottom: 24px;
}

.floatingContactAvatar {
  background: #ff7a00;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 3px solid #ffffff;
  font-size: 47px;
  font-weight: 500;
  border-radius: 70px;
  width: 120px;
  height: 120px;
}

.floatingContactName span {
  font-size: 47px;
  font-weight: 500;
  color: #000000;
  display: block;
  gap: 5px;
}

.floatingContactName {
  gap: 8px;
}

.floatingContactActions {
  display: flex;
  gap: 20px;
  width: 150px;
  margin-top: 10px;
}

.editBtn,
.deleteBtn {
  display: flex;
  align-items: center;
  gap: 13px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.editBtn img,
.deleteBtn img {
  width: 24px;
  height: 24px;
}

.floatingContactInfo {
  gap: 59px;
  margin-top: 59px;
}

.floatingContactInfoLabel {
  font-size: 20px;
  font-weight: 400;
  gap: 22px;
  margin-bottom: 59px;
}

.floatingContactInfo > div {
  margin-bottom: 16px;
}

.floatingContactInfoDetails {
  display: flex;
  flex-direction: column;
}

.floatingContactInfoDetails a {
  font-size: 16px;
  text-decoration: none;
  color: #007cee;
}

.floatingContactInfoDetails span {
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}

.floatingContactInfoDetails p {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin-top: 8px;
}

.floatingContactCloseBtn {
  display: none;
}

@media (max-width: 1350px) {
  .floatingContactMainContent {
    margin-top: 130px;
    margin-left: 20px;
  }

  .floatingContactHeader {
    gap: 24px;
  }

  .pageHeader {
    gap: 8px;
  }

  .floatingContactInfo {
    margin-top: 40px;
  }

  .floatingContactAvatar {
    width: 100px;
    height: 100px;
  }

  .floatingContactName {
    font-size: 32px;
  }
}

@media (max-width: 1024px) {
  #floatingContactOverlay {
    position: relative;
    padding-top: 60px;
  }

  .floatingContactMainContent {
    width: 100%;
    padding: 0;
    margin-top: 0;
    position: relative;
  }

  .floatingContactCard {
    margin-top: 60px;
  }

  .floatingContactInfo {
    margin: 0;
  }

  .floatingContactName {
    font-size: 38px;
  }

  .floatingContactHeader {
    gap: 20px;
  }

  .floatingContactAvatar {
    font-size: 27px;
    width: 80px;
    height: 80px;
  }

  .floatingContactInfoDetails span {
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .floating .floatingContactInfoLabel p {
    font-size: 20px;
  }

  .floatingContactActions {
    display: none;
  }

  .floatingContactCloseBtn {
    display: block !important;
    position: fixed;
    top: 155px;
    right: 40px;
    cursor: pointer;
    background-color: #f8f9fa;
    border: none;
  }

  .floatingContactCloseBtn img {
    width: 32px;
    height: 32px;
    display: block;
    filter: invert(0);
  }

  .floatingContactCard::after {
    display: none;
  }

  #floatingContactOverlay::before {
    content: "Contacts";
    display: block;
    font-size: 47px;
    font-weight: 700;
    color: #2a3647;
    margin-bottom: 8px;
    position: relative;
    z-index: 1;
  }

  #floatingContactOverlay .floatingContactMainContent::before {
    content: "Better with a team";
    font-size: 20px;
    color: #2a3647;
    z-index: 1;
    border-bottom: 3px solid #29abe2;
    padding-bottom: 8px;
  }

  .floating-menu-button {
    position: fixed;
    bottom: 100px;
    right: 32px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #2a3647;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  .contact-menu-overlay {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10000;
    margin-bottom: 87px;
    margin-right: 10px;
  }

  .contact-menu-content {
    background: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.15);
    width: 116px;
    height: 100px;
    animation: slideIn 600ms ease 0s 1 normal forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact-menu-content.closing {
    animation: overlayMoveToRight 200ms ease-in-out forwards;
  }

  .contact-menu-content button {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 8px;
    background: #f6f7f8;
    cursor: pointer;
    font-size: 16px;
    color: #2a3647;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition: background-color 0.2s ease;
  }

  .floatingEditBtn {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .floatingDeleteBtn {
    border-bottom-left-radius: 20px;
  }

  .contact-menu-content button img {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 428px) {
  #floatingContactOverlay {
    position: relative;
  }

  #floatingContactOverlay::before {
    content: "Contacts";
    display: block;
    font-size: 47px;
    font-weight: 700;
    color: #2a3647;
    margin-bottom: 8px;
    position: relative;
    z-index: 1;
  }

  #floatingContactOverlay .floatingContactMainContent::before {
    content: "Better with a team";
    font-size: 20px;
    color: #2a3647;
    z-index: 1;
    border-bottom: 3px solid #29abe2;
    padding-bottom: 8px;
  }

  .floatingContactMainContent {
    width: 100%;
    padding: 0;
    margin-top: 0;
    position: relative;
  }

  .floatingContactCard {
    margin-top: 60px;
  }

  .floatingContactInfo {
    margin: 0;
  }

  .floatingContactName {
    font-size: 38px;
  }

  .floatingContactHeader {
    gap: 20px;
  }

  .floatingContactAvatar {
    font-size: 27px;
    width: 80px;
    height: 80px;
  }

  .floatingContactInfoDetails span {
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .floating .floatingContactInfoLabel p {
    font-size: 20px;
  }

  .floatingContactActions {
    display: none;
  }

  .floatingContactCloseBtn {
    display: block !important;
    position: fixed;
    top: 155px;
    right: 40px;
    cursor: pointer;
    background-color: #f8f9fa;
    border: none;
  }

  .floatingContactCloseBtn img {
    width: 32px;
    height: 32px;
    display: block;
    filter: invert(0);
  }

  .floatingContactCard::after {
    display: none;
  }

  .floating-menu-button {
    position: fixed;
    bottom: 100px;
    right: 32px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #2a3647;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  .contact-menu-overlay {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10000;
    margin-bottom: 87px;
    margin-right: 10px;
  }

  .contact-menu-content {
    background: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.15);
    width: 116px;
    height: 100px;
    animation: slideIn 600ms ease 0s 1 normal forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact-menu-content.closing {
    animation: overlayMoveToRight 200ms ease-in-out forwards;
  }

  .contact-menu-content button {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 8px;
    background: #f6f7f8;
    cursor: pointer;
    font-size: 16px;
    color: #2a3647;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition: background-color 0.2s ease;
  }

  .floatingEditBtn {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .floatingDeleteBtn {
    border-bottom-left-radius: 20px;
  }

  .contact-menu-content button img {
    width: 16px;
    height: 16px;
  }
}
